<div class="col-md-6 offset-md-3">
    <h3> Update Alumno </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label> Nombres</label>
            <input type="text" class ="form-control" id = "nombres"
                [(ngModel)] = "alumno.nombres" name = "nombres">
        </div>
    
        <div class="form-group">
            <label> Apellidos </label>
            <input type="text" class ="form-control" id = "apellidos"
                [(ngModel)] = "alumno.apellidos" name = "apellidos">
        </div>
    
        <div class="form-group">
            <label> Email Id</label>
            <input type="text" class ="form-control" id = "emailId"
                [(ngModel)] = "alumno.emailId" name = "emailId">
        </div>

        <div class="form-group">
            <label> Tipo de alumno </label>
            <select type="text" class ="form-control"  name="tipoAlumno" [(ngModel)]="alumno.tipoAlumno" required>
                <option *ngFor="let level of levels" [ngValue]="level.num" [selected]="level.num == alumno.tipoAlumno">{{level.name}}</option>
              </select>
        </div>

        <button class = "btn btn-success" type ="submit">Guardar</button>
    
    </form>
    </div> 